.searchBar {

  animation: slideAndFadeIn 0.4s ease-in-out forwards;

}

@keyframes slideAndFadeIn {
  from { opacity: 0; transform: translateX(200px); }
  to   { opacity: 1; transform: translateX(0); }
}